<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">

    <title th:text="${title}">Manufacturing Index</title>

    <!-- CSS GLOBAL -->
    <link rel="stylesheet" th:href="@{/css/layout.css}">

    <!-- CSS HFPI (opcional, só afeta HFPI) -->
    <link rel="stylesheet" th:href="@{/css/hfpi.css}">
	
	<link rel="stylesheet" th:href="@{/css/hfpi-defects.css}">
	<!-- Chart.js -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

	<!-- Plugin DataLabels -->
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>


</head>
</html>
