<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New MQAAS KPI</title>
</head>
<body>

<h2>New MQAAS KPI</h2>

<form action="/kpis" method="post">

    <input type="hidden" name="factoryId" th:value="${factoryId}" />
    <input type="hidden" name="type" value="MQAAS" />

    FY:
    <input name="fy" required><br><br>

    Quarter:
    <input name="quarter" required><br><br>

    Points Available:
    <input type="number" name="a" required><br><br>

    Points Achieved:
    <input type="number" name="b" required><br><br>

    <button type="submit">Save KPI</button>
</form>


<br>
<a th:href="@{'/kpis/' + ${factoryId}}">Back</a>

</body>
</html>
