<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head('Título')"></head>

	<div class="container">
	    <div th:replace="fragments/sidebar :: sidebar"></div>
	    <div class="content">
			<body>

			<h1>KPIs</h1>

			<p>
			    Factory:
			    <strong th:text="${factory.name}"></strong>
			</p>

			<table border="1" cellpadding="5">
			    <thead>
			        <tr>
			            <th>FY</th>
			            <th>Quarter</th>
			            <th>Type</th>
			            <th>Value</th>
			            <th>Points</th>
			            <th>Actions</th>
			        </tr>
			    </thead>

			    <tbody>
			        <tr th:each="k : ${kpis}">
			            <td th:text="${k.fy}"></td>
			            <td th:text="${k.quarter}"></td>
			            <td th:text="${k.type}"></td>
			            <td th:text="${#numbers.formatDecimal(k.kpiValue, 1, 2)}"></td>
			            <td th:text="${#numbers.formatDecimal(k.points, 1, 2)}"></td>
			            <td>
			                <a th:href="@{'/kpis/' + ${k.id} + '/edit'}">Edit</a> |
			                <a th:href="@{'/kpis/' + ${k.id} + '/delete'}"
			                   onclick="return confirm('Delete KPI?')">Delete</a>
			            </td>
			        </tr>
			    </tbody>
			</table>

			<br/>

			<a th:href="@{/factories}">⬅ Back to Factories</a>

			</body>
	    </div>
	</div>
</html>


